<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        table, tr, th, td {
            margin-top: 5vw;
            margin-left: 5vw;
            width: 40em;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Custom URL Shortener</h1>

    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:8003/url/<%= id %></p>
    <% } %>

    <form action="/url/" method="post">
        <p>Enter the URL</p>
        <input type="text" name="url" placeholder="http://www.abc.com" required>
        <button type="submit">Generate</button>
    </form>

    <% if (locals.urls && urls.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Sn</th>
                    <th>ShortId</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectedUrl %></td>
                        <td><%= url.visitCount.length %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>
